.container {
    margin: 50px auto;
    width: 300px;
    display: flex;

    align-items: center;
    position: relative;
}

.box {
    display: flex;
    width: 80px;
    height: 80px;    
    background-color: red;
    margin: 0 5px;
    
    animation: roll 3s infinite;
    opacity: .5;
}

.b1x {
    animation-delay: 0;
}
.b2x {
    animation-delay: .25s;
}
.b3x {
    animation-delay: .5s;
}
.b4x {
    animation-delay: .75s;
}

p {
    margin: auto;
    font-size: 4em;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
