<div class="container">
  <input class="square" placeholder="Bottom border..." />
  <span></span>
</div>

<div class="article">
  <div class="picture">
    <img src="../assets/drink.jpg">
  </div>
  <div class="content">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis cupiditate quo rerum, modi incidunt officiis quisquam
      atque sit temporibus sequi corporis ipsa eveniet iusto est aliquam fuga minus mollitia.</span>
  </div>
</div>

<div class="card-section">
  <div class="card card-raised">
    <div class="card-header">
      <div class="card-title">
        <span>This is the title</span>
      </div>
    </div>
  </div>
</div>